## Machine learning part.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df.csv') # our data is already sorted by date from before.

# Deleting columns we do not need.
del df["Unnamed: 0"]
del df["Squad"]
del df["Squad_opp"]

In [3]:
df #85 columns

,Date,team,team_opp,year,score,score_opp,home,result,# Pl,Age,...,Save%_opp,W_opp,D_opp,L_opp,CS_opp,CS%_opp,SoT_opp,SoT/90_opp,G/SoT_opp,Fls_opp
0,2010-09-14,Lyon,Schalke 04,2010,1,0,1,1,20,25.5,...,78.1,5,4,3,3,25.0,65,5.42,0.32,195
1,2010-09-14,Panathinaikos,Barcelona,2010,1,5,0,0,21,28.2,...,75.7,8,4,1,5,38.5,98,7.54,0.29,134
2,2010-09-14,Rubin Kazan,FC Copenhagen,2010,0,1,0,0,20,26.8,...,82.5,3,5,4,3,25.0,21,1.75,0.24,114
3,2010-09-14,Schalke 04,Lyon,2010,0,1,0,0,27,25.2,...,68.2,3,2,3,2,25.0,44,5.50,0.25,105
4,2010-09-14,Hapoel Tel Aviv,Benfica,2010,0,2,0,0,19,25.9,...,50.0,2,0,4,1,16.7,28,4.67,0.25,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2022-05-03,Villarreal,Liverpool,2021,2,3,1,0,25,28.0,...,50.0,10,1,2,4,30.8,79,6.08,0.34,151
2918,2022-05-04,Manchester City,Real Madrid,2021,1,3,0,0,26,27.2,...,80.6,9,0,4,5,38.5,66,4.83,0.38,120
2919,2022-05-04,Real Madrid,Manchester City,2021,3,1,1,1,25,28.0,...,58.8,7,2,3,4,33.3,65,5.27,0.40,126
2920,2022-05-28,Liverpool,Real Madrid,2021,0,1,1,0,28,27.3,...,80.6,9,0,4,5,38.5,66,4.83,0.38,120
2921,2022-05-28,Real Madrid,Liverpool,2021,1,0,0,1,25,28.0,...,50.0,10,1,2,4,30.8,79,6.08,0.34,151

In [4]:
grouped_df = df.groupby("team", group_keys=False)

In [5]:
for key, item in grouped_df:
    print(grouped_df.get_group(key),"\n\n")

            Date        team       team_opp  year  score  score_opp  home  \
1969  2018-09-19  AEK Athens           Ajax  2018      0          3     0
1990  2018-10-02  AEK Athens        Benfica  2018      2          3     1
2018  2018-10-23  AEK Athens  Bayern Munich  2018      0          2     1
2074  2018-11-07  AEK Athens  Bayern Munich  2018      0          2     0
2083  2018-11-27  AEK Athens           Ajax  2018      0          2     1
2135  2018-12-12  AEK Athens        Benfica  2018      0          1     0

      result  # Pl   Age  ...  Save%_opp  W_opp  D_opp  L_opp  CS_opp  \
1969       0    20  26.0  ...       77.4      6      4      2       4
1990       0    20  26.0  ...       68.6      2      1      3       1
2018       0    20  26.0  ...       76.7      4      3      1       4
2074       0    20  26.0  ...       76.7      4      3      1       4
2083       0    20  26.0  ...       77.4      6      4      2       4
2135       0    20  26.0  ...       68.6      2      1      3       1

      CS%_opp  SoT_opp  SoT/90_opp  G/SoT_opp  Fls_opp
1969     33.3       68        5.67       0.29      163
1990     16.7       30        5.00       0.20       73
2018     50.0       44        5.50       0.30       87
2074     50.0       44        5.50       0.30       87
2083     33.3       68        5.67       0.29      163
2135     16.7       30        5.00       0.20       73

[6 rows x 85 columns]


            Date      team     team_opp  year  score  score_opp  home  result  \
259   2011-09-13  APOEL FC        Zenit  2011      2          1     1       1
304   2011-09-28  APOEL FC     Shakhtar  2011      1          1     0       2
325   2011-10-19  APOEL FC        Porto  2011      1          1     0       2
351   2011-11-01  APOEL FC        Porto  2011      2          1     1       1
393   2011-11-23  APOEL FC        Zenit  2011      0          0     0       2
410   2011-12-06  APOEL FC     Shakhtar  2011      0          2     1       0
450   2012-03-07  APOEL FC         Lyon  2011      4          3     1       1
463   2012-03-27  APOEL FC  Real Madrid  2011      0          3     1       0
475   2012-04-04  APOEL FC  Real Madrid  2011      2          5     0       0
999   2014-09-17  APOEL FC    Barcelona  2014      0          1     0       0
1010  2014-09-30  APOEL FC         Ajax  2014      1          1     1       2
1044  2014-10-21  APOEL FC    Paris S-G  2014      0          1     1       0
1093  2014-11-05  APOEL FC    Paris S-G  2014      0          1     0       0
1114  2014-11-25  APOEL FC    Barcelona  2014      0          4     1       0
1149  2014-12-10  APOEL FC         Ajax  2014      0          4     0       0
1730  2017-09-13  APOEL FC  Real Madrid  2017      0          3     0       0
1748  2017-09-26  APOEL FC    Tottenham  2017      0          3     1       0
1774  2017-10-17  APOEL FC     Dortmund  2017      1          1     1       2
1832  2017-11-01  APOEL FC     Dortmund  2017      1          1     0       2
1835  2017-11-21  APOEL FC  Real Madrid  2017      0          6     1       0
1880  2017-12-06  APOEL FC    Tottenham  2017      0          3     0       0

      # Pl   Age  ...  Save%_opp  W_opp  D_opp  L_opp  CS_opp  CS%_opp  \
259     23  30.6  ...       76.3      3      3      2       3     37.5
304     23  30.6  ...       77.1      1      2      3       1     16.7
325     23  30.6  ...       68.2      2      2      2       2     33.3
351     23  30.6  ...       68.2      2      2      2       2     33.3
393     23  30.6  ...       76.3      3      3      2       3     37.5
410     23  30.6  ...       77.1      1      2      3       1     16.7
450     23  30.6  ...       80.0      4      3      3       4     40.0
463     23  30.6  ...       80.4      7      4      1       6     50.0
475     23  30.6  ...       80.4      7      4      1       6     50.0
999     21  28.9  ...       73.2     11      0      2       6     46.2
1010    21  28.9  ...       60.0      1      2      3       1     16.7
1044    21  28.9  ...       56.3      4      3      3       2     20.0
1093    21  28.9  ...       56.3      4      3      3       2     20.0
1114    21  28.9  ...       73.2     11      0      2       6     46.2
1149    21  28.9  ...       60.0      1      2      3       1     16.7
1730    21  29.7  ...       69.8      9      2      2       3     23.1
1748    21  29.7  ...       81.8      5      2      1       2     25.0
1774    21  29.7  ...       63.9      0      2      4       0      0.0
1832    21  29.7  ...       63.9      0      2      4       0      0.0
1835    21  29.7  ...       69.8      9      2      2       3     23.1
1880    21  29.7  ...       81.8      5      2      1       2     25.0

      SoT_opp  SoT/90_opp  G/SoT_opp  Fls_opp
259        39        4.87       0.26      114
304        33        5.50       0.18       94
325        42        7.00       0.12       97
351        42        7.00       0.12       97
393        39        4.87       0.26      114
410        33        5.50       0.18       94
450        45        4.50       0.22      124
463        94        7.83       0.34      135
475        94        7.83       0.34      135
999        81        6.23       0.38      143
1010       20        3.33       0.35       85
1044       46        4.45       0.28      127
1093       46        4.45       0.28      127
1114       81        6.23       0.38      143
1149       20        3.33       0.35       85
1730       85        6.54       0.34      129
1748       46        5.75       0.37      116
1774       23        3.83       0.30       53
1832       23        3.83       0.30       53
1835       85        6.54       0.34      129
1880       46        5.75       0.37      116

[21 rows x 85 columns]


            Date  team     team_opp  year  score  score_opp  home  result  \
17    2010-09-15  Ajax  Real Madrid  2010      0          2     0       0
42    2010-09-28  Ajax        Milan  2010      1          1     1       2
65    2010-10-19  Ajax      Auxerre  2010      2          1     1       1
124   2010-11-03  Ajax      Auxerre  2010      1          2     0       0
141   2010-11-23  Ajax  Real Madrid  2010      0          4     1       0
...          ...   ...          ...   ...    ...        ...   ...     ...
2802  2021-11-03  Ajax     Dortmund  2021      3          1     0       1
2820  2021-11-24  Ajax   BeÅiktaÅ  2021      2          1     0       1
2834  2021-12-07  Ajax  Sporting CP  2021      4          2     1       1
2876  2022-02-23  Ajax      Benfica  2021      2          2     0       2
2891  2022-03-15  Ajax      Benfica  2021      0          1     1       0

      # Pl   Age  ...  Save%_opp  W_opp  D_opp  L_opp  CS_opp  CS%_opp  \
17      17  24.2  ...       82.9      7      4      1       8     66.7
42      17  24.2  ...       83.0      2      3      3       3     37.5
65      17  24.2  ...       58.6      1      1      6       8    100.0
124     17  24.2  ...       58.6      1      1      6       8    100.0
141     17  24.2  ...       82.9      7      4      1       8     66.7
...    ...   ...  ...        ...    ...    ...    ...     ...      ...
2802    21  26.0  ...       52.2      3      0      3       2     33.3
2820    21  26.0  ...       62.8      0      0      6       0      0.0
2834    21  26.0  ...       55.6      3      1      4       2     25.0
2876    21  26.0  ...       67.3      3      4      3       5     50.0
2891    21  26.0  ...       67.3      3      4      3       5     50.0

      SoT_opp  SoT/90_opp  G/SoT_opp  Fls_opp
17         88        7.33       0.26      171
42         36        4.50       0.19      122
65         20        2.50       0.15       76
124        20        2.50       0.15       76
141        88        7.33       0.26      171
...       ...         ...        ...      ...
2802       27        4.50       0.30       64
2820       11        1.83       0.18       63
2834       30        3.75       0.40       85
2876       34        3.40       0.35      110
2891       34        3.40       0.35      110

[61 rows x 85 columns]


            Date        team       team_opp  year  score  score_opp  home  \
503   2012-09-18  Anderlecht          Milan  2012      0          0     0
538   2012-10-03  Anderlecht        MÃ¡laga  2012      0          3     1
578   2012-10-24  Anderlecht          Zenit  2012      0          1     0
597   2012-11-06  Anderlecht          Zenit  2012      1          0     1
643   2012-11-21  Anderlecht          Milan  2012      1          3     1
645   2012-12-04  Anderlecht        MÃ¡laga  2012      2          2     0
735   2013-09-17  Anderlecht        Benfica  2013      0          2     0
787   2013-10-02  Anderlecht     Olympiacos  2013      0          3     1
821   2013-10-23  Anderlecht      Paris S-G  2013      0          5     1
832   2013-11-05  Anderlecht      Paris S-G  2013      1          1     0
883   2013-11-27  Anderlecht        Benfica  2013      2          3     1
897   2013-12-10  Anderlecht     Olympiacos  2013      1          3     0
991   2014-09-16  Anderlecht    Galatasaray  2014      1          1     0
1032  2014-10-01  Anderlecht       Dortmund  2014      0          3     1
1064  2014-10-22  Anderlecht        Arsenal  2014      1          2     1
1131  2014-11-26  Anderlecht    Galatasaray  2014      2          0     1
1134  2014-12-09  Anderlecht       Dortmund  2014      1          1     0
1708  2017-09-12  Anderlecht  Bayern Munich  2017      0          3     0
1762  2017-09-27  Anderlecht         Celtic  2017      0          3     1
1793  2017-10-18  Anderlecht      Paris S-G  2017      0          4     1
1804  2017-10-31  Anderlecht      Paris S-G  2017      0          5     0
1860  2017-11-22  Anderlecht  Bayern Munich  2017      1          2     1
1870  2017-12-05  Anderlecht         Celtic  2017      1          0     0

      result  # Pl   Age  ...  Save%_opp  W_opp  D_opp  L_opp  CS_opp  \
503        2    20  26.3  ...       74.3      3      2      3       2
538        0    20  26.3  ...       71.0      4      6      2       5
578        0    20  26.3  ...       59.1      2      1      3       2
597        1    20  26.3  ...       59.1      2      1      3       2
643        0    20  26.3  ...       74.3      3      2      3       2
645        2    20  26.3  ...       71.0      4      6      2       5
735        0    21  23.3  ...       68.0      3      1      2       1
787        0    21  23.3  ...       73.2      4      1      3       3
821        0    21  23.3  ...       79.1      6      2      2       3
832        2    21  23.3  ...       79.1      6      2      2       3
883        0    21  23.3  ...       68.0      3      1      2       1
897        0    21  23.3  ...       73.2      4      1      3       3
991        2    21  23.7  ...       51.3      0      1      5       0
1032       0    21  23.7  ...       55.0      4      1      3       3
1064       0    21  23.7  ...       73.2      6      2      2       2
1131       1    21  23.7  ...       51.3      0      1      5       0
1134       2    21  23.7  ...       55.0      4      1      3       3
1708       0    20  26.1  ...       72.1      8      2      2       4
1762       0    20  26.1  ...       56.4      1      0      5       1
1793       0    20  26.1  ...       78.4      5      0      3       4
1804       0    20  26.1  ...       78.4      5      0      3       4
1860       0    20  26.1  ...       72.1      8      2      2       4
1870       1    20  26.1  ...       56.4      1      0      5       1

      CS%_opp  SoT_opp  SoT/90_opp  G/SoT_opp  Fls_opp
503      25.0       49        6.12       0.16      112
538      41.7       58        4.83       0.26      136
578      33.3       33        5.50       0.15       92
597      33.3       33        5.50       0.15       92
643      25.0       49        6.12       0.16      112
645      41.7       58        4.83       0.26      136
735      16.7       41        6.83       0.15      101
787      37.5       55        6.87       0.20      118
821      30.0       85        8.50       0.27      114
832      30.0       85        8.50       0.27      114
883      16.7       41        6.83       0.15      101
897      37.5       55        6.87       0.20      118
991       0.0       23        3.83       0.13       64
1032     37.5       50        6.25       0.28       73
1064     20.0       37        4.62       0.46      102
1131      0.0       23        3.83       0.13       64
1134     37.5       50        6.25       0.28       73
1708     33.3       82        6.83       0.28      139
1762     16.7       21        3.50       0.24       50
1793     50.0       52        6.50       0.48       82
1804     50.0       52        6.50       0.48       82
1860     33.3       82        6.83       0.28      139
1870     16.7       21        3.50       0.24       50

[23 rows x 85 columns]


            Date     team       team_opp  year  score  score_opp  home  \
24    2010-09-15  Arsenal          Braga  2010      6          0     1
33    2010-09-28  Arsenal       Partizan  2010      3          1     0
70    2010-10-19  Arsenal       Shakhtar  2010      5          1     1
120   2010-11-03  Arsenal       Shakhtar  2010      1          2     0
134   2010-11-23  Arsenal          Braga  2010      0          2     0
173   2010-12-08  Arsenal       Partizan  2010      3          1     1
192   2011-02-16  Arsenal      Barcelona  2010      2          1     1
203   2011-03-08  Arsenal      Barcelona  2010      1          3     0
253   2011-09-13  Arsenal       Dortmund  2011      1          1     0
297   2011-09-28  Arsenal     Olympiacos  2011      2          1     1
329   2011-10-19  Arsenal      Marseille  2011      1          0     0
348   2011-11-01  Arsenal      Marseille  2011      0          0     1
391   2011-11-23  Arsenal       Dortmund  2011      2          1     1
400   2011-12-06  Arsenal     Olympiacos  2011      1          3     0
435   2012-02-15  Arsenal          Milan  2011      0          4     0
447   2012-03-06  Arsenal          Milan  2011      3          0     1
499   2012-09-18  Arsenal    Montpellier  2012      2          1     0
551   2012-10-03  Arsenal     Olympiacos  2012      3          1     1
569   2012-10-24  Arsenal     Schalke 04  2012      0          2     1
596   2012-11-06  Arsenal     Schalke 04  2012      2          2     0
641   2012-11-21  Arsenal    Montpellier  2012      2          0     1
658   2012-12-04  Arsenal     Olympiacos  2012      1          2     0
685   2013-02-19  Arsenal  Bayern Munich  2012      1          3     1
703   2013-03-13  Arsenal  Bayern Munich  2012      2          0     0
760   2013-09-18  Arsenal      Marseille  2013      2          1     0
773   2013-10-01  Arsenal         Napoli  2013      2          0     1
801   2013-10-22  Arsenal       Dortmund  2013      1          2     1
842   2013-11-06  Arsenal       Dortmund  2013      1          0     0
861   2013-11-26  Arsenal      Marseille  2013      2          0     1
912   2013-12-11  Arsenal         Napoli  2013      0          2     0
925   2014-02-19  Arsenal  Bayern Munich  2013      0          2     1
936   2014-03-11  Arsenal  Bayern Munich  2013      1          1     0
981   2014-09-16  Arsenal       Dortmund  2014      0          2     0
1037  2014-10-01  Arsenal    Galatasaray  2014      4          1     1
1058  2014-10-22  Arsenal     Anderlecht  2014      2          1     0
1138  2014-12-09  Arsenal    Galatasaray  2014      4          1     0
1176  2015-02-25  Arsenal         Monaco  2014      1          3     1
1186  2015-03-17  Arsenal         Monaco  2014      2          0     0
1246  2015-09-16  Arsenal  Dinamo Zagreb  2015      1          2     0
1257  2015-09-29  Arsenal     Olympiacos  2015      2          3     1
1284  2015-10-20  Arsenal  Bayern Munich  2015      2          0     1
1334  2015-11-04  Arsenal  Bayern Munich  2015      1          5     0
1358  2015-11-24  Arsenal  Dinamo Zagreb  2015      3          0     1
1398  2015-12-09  Arsenal     Olympiacos  2015      3          0     0
1417  2016-02-23  Arsenal      Barcelona  2015      0          2     1
1437  2016-03-16  Arsenal      Barcelona  2015      1          3     0
1468  2016-09-13  Arsenal      Paris S-G  2016      1          1     0
1518  2016-09-28  Arsenal          Basel  2016      2          0     1
1550  2016-10-19  Arsenal     Ludogorets  2016      6          0     1
1567  2016-11-01  Arsenal     Ludogorets  2016      3          2     0
1622  2016-12-06  Arsenal          Basel  2016      4          1     0
1654  2017-02-15  Arsenal  Bayern Munich  2016      1          5     0
1666  2017-03-07  Arsenal  Bayern Munich  2016      1          5     1

      result  # Pl   Age  ...  Save%_opp  W_opp  D_opp  L_opp  CS_opp  \
24         1    25  24.8  ...       63.3      6      0      4       3
33         1    25  24.8  ...       66.7      4      2      6       0
70         1    25  24.8  ...       74.5      6      2      2       5
120        0    25  24.8  ...       74.5      6      2      2       5
134        0    25  24.8  ...       63.3      6      0      4       3
173        1    25  24.8  ...       66.7      4      2      6       0
192        1    25  24.8  ...       75.7      8      4      1       5
203        0    25  24.8  ...       75.7      8      4      1       5
253        2    29  25.4  ...       76.5      1      1      4       1
297        1    29  25.4  ...       71.4      3      0      3       1
329        1    29  25.4  ...       80.0      4      1      5       4
348        2    29  25.4  ...       80.0      4      1      5       4
391        1    29  25.4  ...       76.5      1      1      4       1
400        0    29  25.4  ...       71.4      3      0      3       1
435        0    29  25.4  ...       75.4      3      4      3       4
447        1    29  25.4  ...       75.4      3      4      3       4
499        1    28  25.6  ...       61.3      0      2      4       0
551        1    28  25.6  ...       66.7      3      0      3       0
569        0    28  25.6  ...       70.6      3      5      0       2
596        2    28  25.6  ...       70.6      3      5      0       2
641        1    28  25.6  ...       61.3      0      2      4       0
658        0    28  25.6  ...       66.7      3      0      3       0
685        0    28  25.6  ...       66.7     10      2      1       5
703        1    28  25.6  ...       66.7     10      2      1       5
760        1    24  26.9  ...       58.8      0      0      6       0
773        1    24  26.9  ...       71.0      4      0      2       1
801        0    24  26.9  ...       74.0      5      2      3       2
842        1    24  26.9  ...       74.0      5      2      3       2
861        1    24  26.9  ...       58.8      0      0      6       0
912        0    24  26.9  ...       71.0      4      0      2       1
925        0    24  26.9  ...       70.5      6      4      2       4
936        2    24  26.9  ...       70.5      6      4      2       4
981        0    29  25.4  ...       55.0      4      1      3       3
1037       1    29  25.4  ...       51.3      0      1      5       0
1058       1    29  25.4  ...       70.6      1      3      2       1
1138       1    29  25.4  ...       51.3      0      1      5       0
1176       0    29  25.4  ...       86.1      4      3      3       6
1186       1    29  25.4  ...       86.1      4      3      3       6
1246       0    24  27.2  ...       68.2      4      3      5       0
1257       0    24  27.2  ...       71.7      3      0      3       1
1284       1    24  27.2  ...       83.3      8      2      2       5
1334       0    24  27.2  ...       83.3      8      2      2       5
1358       1    24  27.2  ...       68.2      4      3      5       0
1398       1    24  27.2  ...       71.7      3      0      3       1
1417       0    24  27.2  ...       82.6      7      2      1       3

# Data Cleaning and Prep

In [6]:
def add_target(team):
    team["target"] = team["result"].shift(-1)
    return team

df = df.groupby("team",group_keys=False).apply(add_target) #shifting th target column for a grouped by team column result.

In [7]:
df[df['team'] == "Manchester Utd"]

,Date,team,team_opp,year,score,score_opp,home,result,# Pl,Age,...,W_opp,D_opp,L_opp,CS_opp,CS%_opp,SoT_opp,SoT/90_opp,G/SoT_opp,Fls_opp,target
15,2010-09-14,Manchester Utd,Rangers,2010,0,0,1,2,28,27.7,...,1,3,2,2,33.3,16,2.67,0.19,64,1.0
53,2010-09-29,Manchester Utd,Valencia,2010,1,0,0,1,28,27.7,...,3,3,2,2,25.0,57,7.12,0.26,110,1.0
84,2010-10-20,Manchester Utd,Bursaspor,2010,1,0,1,1,28,27.7,...,0,1,5,0,0.0,20,3.33,0.10,76,1.0
144,2010-11-24,Manchester Utd,Rangers,2010,1,0,0,1,28,27.7,...,1,3,2,2,33.3,16,2.67,0.19,64,2.0
171,2010-12-07,Manchester Utd,Valencia,2010,1,1,1,2,28,27.7,...,3,3,2,2,25.0,57,7.12,0.26,110,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2777,2021-11-02,Manchester Utd,Atalanta,2021,2,2,0,2,31,27.2,...,1,3,2,1,16.7,31,5.17,0.39,68,1.0
2810,2021-11-23,Manchester Utd,Villarreal,2021,2,0,0,1,31,27.2,...,5,3,4,3,25.0,44,3.67,0.41,115,2.0
2862,2021-12-08,Manchester Utd,Young Boys,2021,1,1,1,2,31,27.2,...,1,2,3,0,0.0,25,4.17,0.28,87,2.0
2879,2022-02-23,Manchester Utd,AtlÃ©tico Madrid,2021,1,1,0,2,31,27.2,...,3,3,4,3,30.0,25,2.50,0.32,128,0.0
2888,2022-03-15,Manchester Utd,AtlÃ©tico Madrid,2021,0,1,1,0,31,27.2,...,3,3,4,3,30.0,25,2.50,0.32,128,NaN

In [8]:
# df["target"][pd.isnull(df["target"])] # this finds the exact missing rows, interesting use of boolean indexing

df["target"][pd.isnull(df["target"])]  = 3 #0 mean loss, one means win, 2 means draw, 3 means do not have data

C:\Users\Ramin\AppData\Local\Temp\ipykernel_28348\2078979482.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])]  = 3 #0 mean loss, one means win, 2 means draw, 3 means do not have data

In [9]:
df

,Date,team,team_opp,year,score,score_opp,home,result,# Pl,Age,...,W_opp,D_opp,L_opp,CS_opp,CS%_opp,SoT_opp,SoT/90_opp,G/SoT_opp,Fls_opp,target
0,2010-09-14,Lyon,Schalke 04,2010,1,0,1,1,20,25.5,...,5,4,3,3,25.0,65,5.42,0.32,195,1.0
1,2010-09-14,Panathinaikos,Barcelona,2010,1,5,0,0,21,28.2,...,8,4,1,5,38.5,98,7.54,0.29,134,0.0
2,2010-09-14,Rubin Kazan,FC Copenhagen,2010,0,1,0,0,20,26.8,...,3,5,4,3,25.0,21,1.75,0.24,114,2.0
3,2010-09-14,Schalke 04,Lyon,2010,0,1,0,0,27,25.2,...,3,2,3,2,25.0,44,5.50,0.25,105,1.0
4,2010-09-14,Hapoel Tel Aviv,Benfica,2010,0,2,0,0,19,25.9,...,2,0,4,1,16.7,28,4.67,0.25,102,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2022-05-03,Villarreal,Liverpool,2021,2,3,1,0,25,28.0,...,10,1,2,4,30.8,79,6.08,0.34,151,3.0
2918,2022-05-04,Manchester City,Real Madrid,2021,1,3,0,0,26,27.2,...,9,0,4,5,38.5,66,4.83,0.38,120,3.0
2919,2022-05-04,Real Madrid,Manchester City,2021,3,1,1,1,25,28.0,...,7,2,3,4,33.3,65,5.27,0.40,126,1.0
2920,2022-05-28,Liverpool,Real Madrid,2021,0,1,1,0,28,27.3,...,9,0,4,5,38.5,66,4.83,0.38,120,3.0
2921,2022-05-28,Real Madrid,Liverpool,2021,1,0,0,1,25,28.0,...,10,1,2,4,30.8,79,6.08,0.34,151,3.0

In [16]:
df["opp_code"] = df["team_opp"].astype("category").cat.codes # giving codes to the opponent team

In [17]:
df

,Date,team,team_opp,year,score,score_opp,home,result,# Pl,Age,...,D_opp,L_opp,CS_opp,CS%_opp,SoT_opp,SoT/90_opp,G/SoT_opp,Fls_opp,target,opp_code
0,2010-09-14,Lyon,Schalke 04,2010,1,0,1,1,20,25.5,...,4,3,3,25.0,65,5.42,0.32,195,1.0,81
1,2010-09-14,Panathinaikos,Barcelona,2010,1,5,0,0,21,28.2,...,4,1,5,38.5,98,7.54,0.29,134,0.0,11
2,2010-09-14,Rubin Kazan,FC Copenhagen,2010,0,1,0,0,20,26.8,...,5,4,3,25.0,21,1.75,0.24,114,2.0,28
3,2010-09-14,Schalke 04,Lyon,2010,0,1,0,0,27,25.2,...,2,3,2,25.0,44,5.50,0.25,105,1.0,47
4,2010-09-14,Hapoel Tel Aviv,Benfica,2010,0,2,0,0,19,25.9,...,0,4,1,16.7,28,4.67,0.25,102,0.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2022-05-03,Villarreal,Liverpool,2021,2,3,1,0,25,28.0,...,1,2,4,30.8,79,6.08,0.34,151,3.0,44
2918,2022-05-04,Manchester City,Real Madrid,2021,1,3,0,0,26,27.2,...,0,4,5,38.5,66,4.83,0.38,120,3.0,74
2919,2022-05-04,Real Madrid,Manchester City,2021,3,1,1,1,25,28.0,...,2,3,4,33.3,65,5.27,0.40,126,1.0,51
2920,2022-05-28,Liverpool,Real Madrid,2021,0,1,1,0,28,27.3,...,0,4,5,38.5,66,4.83,0.38,120,3.0,74
2921,2022-05-28,Real Madrid,Liverpool,2021,1,0,0,1,25,28.0,...,1,2,4,30.8,79,6.08,0.34,151,3.0,44

In [10]:
df["result"].value_counts()

1    1153
0    1153
2     616
Name: result, dtype: int64

In [18]:
nulls = pd.isnull(df).sum()

In [19]:
nulls[nulls>0] # no none null values

Series([], dtype: int64)

# Initial Machine Learning Model
## Standard Random Forrest Classifier

In [68]:
from sklearn.preprocessing import MinMaxScaler


from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import TimeSeriesSplit 
from sklearn.feature_selection import SequentialFeatureSelector




from sklearn.metrics import accuracy_score

In [79]:
rf = RandomForestClassifier(n_estimators=60, min_samples_split=10, random_state=1)

In [70]:
train = df[df["year"]<2021]

test  = df[df["year"]==2021]

In [23]:
df.columns

Index(['Date', 'team', 'team_opp', 'year', 'score', 'score_opp', 'home',
       'result', '# Pl', 'Age', 'MP', 'Starts', 'Gls', 'Ast', 'G+A', 'G-PK',
       'PK', 'PKatt', 'Gls.1', 'Ast.1', 'G+A.1', 'G-PK.1', 'G+A-PK', 'Min%',
       'Subs', 'Mn/Sub', 'PPM', 'onG', 'onGA', '+/-', '# Pl.1', 'Min', 'GA',
       'GA90', 'SoTA', 'Saves', 'Save%', 'W', 'D', 'L', 'CS', 'CS%', 'SoT',
       'SoT/90', 'G/SoT', 'Fls', '# Pl_opp', 'Age_opp', 'MP_opp', 'Starts_opp',
       'Gls_opp', 'Ast_opp', 'G+A_opp', 'G-PK_opp', 'PK_opp', 'PKatt_opp',
       'Gls.1_opp', 'Ast.1_opp', 'G+A.1_opp', 'G-PK.1_opp', 'G+A-PK_opp',
       'year_opp', 'Min%_opp', 'Subs_opp', 'Mn/Sub_opp', 'PPM_opp', 'onG_opp',
       'onGA_opp', '+/-_opp', '# Pl_opp.1', 'Min_opp', 'GA_opp', 'GA90_opp',
       'SoTA_opp', 'Saves_opp', 'Save%_opp', 'W_opp', 'D_opp', 'L_opp',
       'CS_opp', 'CS%_opp', 'SoT_opp', 'SoT/90_opp', 'G/SoT_opp', 'Fls_opp',
       'target', 'opp_code'],
      dtype='object')

In [71]:
removed_columns = ['Date', 'team', 'team_opp', 'year', 'score', 'score_opp', 'result','target', 'opp_code']

selected_columns = df.columns[~df.columns.isin(removed_columns)] # similatr to before. Pick all except the removed cols

In [72]:
df[selected_columns].isnull().sum().value_counts()

0    78
dtype: int64

In [73]:
# to scale
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() # don't need any argumnets here just define the class
df[selected_columns] = scaler.fit_transform(df[selected_columns]) # fit transform is a method of MinMaxScaler we run on the scaler

In [80]:
split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rf, n_features_to_select=15, direction="forward", cv = split)

In [87]:
sfs.fit(df[selected_columns], df["result"])

# # let's fit the sequential feature selector: 
# # pass selected columsn and pass target, to find out which features help in better predicting the target. 30 best features

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RandomForestClassifier(min_samples_split=10,
                                                           n_estimators=60,
                                                           random_state=1),
                          n_features_to_select=15)

In [82]:
# now we need to get the columns (features) that this selector has selected for us.
# get_support gives us an integer mask for the chosen features, which means we get the selected feature
# subset out of all the selected columns we started with. 

predictors = list(selected_columns[sfs.get_support()])

In [83]:
sfs.get_support()

array([ True, False, False, False,  True, False, False, False, False,
       False, False,  True, False, False,  True,  True,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False,  True, False,  True, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False,  True, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False,  True])

In [88]:
predictors

['home',
 'Starts',
 'Gls.1',
 'G-PK.1',
 'G+A-PK',
 'Min%',
 'Min',
 'W',
 'L',
 'G/SoT',
 'Min%_opp',
 'Mn/Sub_opp',
 '# Pl_opp.1',
 'SoT_opp',
 'Fls_opp']

In [89]:
rf.fit(train[predictors], train["result"])

preds = rf.predict(test[predictors])

error = accuracy_score(test["result"], preds)

error

0.6188524590163934

In [93]:
predictors = ['score', 'score_opp', 'home',
        '# Pl', 'Age', 'MP', 'Starts', 'Gls', 'Ast', 'G+A', 'G-PK',
       'PK', 'PKatt', 'Gls.1', 'Ast.1', 'G+A.1', 'G-PK.1', 'G+A-PK', 'Min%',
       'Subs', 'Mn/Sub', 'PPM', 'onG', 'onGA', '+/-', '# Pl.1', 'Min', 'GA',
       'GA90', 'SoTA', 'Saves', 'Save%', 'W', 'D', 'L', 'CS', 'CS%', 'SoT',
       'SoT/90', 'G/SoT', 'Fls', '# Pl_opp', 'Age_opp', 'MP_opp', 'Starts_opp',
       'Gls_opp', 'Ast_opp', 'G+A_opp', 'G-PK_opp', 'PK_opp', 'PKatt_opp',
       'Gls.1_opp', 'Ast.1_opp', 'G+A.1_opp', 'G-PK.1_opp', 'G+A-PK_opp',
       'year_opp', 'Min%_opp', 'Subs_opp', 'Mn/Sub_opp', 'PPM_opp', 'onG_opp',
       'onGA_opp', '+/-_opp', '# Pl_opp.1', 'Min_opp', 'GA_opp', 'GA90_opp',
       'SoTA_opp', 'Saves_opp', 'Save%_opp', 'W_opp', 'D_opp', 'L_opp',
       'CS_opp', 'CS%_opp', 'SoT_opp', 'SoT/90_opp', 'G/SoT_opp', 'Fls_opp',
        'opp_code'
]

In [94]:
rf.fit(train[predictors], train["result"]) # result NOT target and we have all the preditors. 

preds = rf.predict(test[predictors])

error = accuracy_score(test["result"], preds)

error

0.8360655737704918